<% include common/header.html %>

<canvas id="star"></canvas>

<div class="page-slider">
    <div class="swiper-wrapper">
        <section class="swiper-slide m-page">
            <main class="m-main m-page-2">
                <div class="swiper-container">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <p class="pic"><img width="162" src="dist/img/index_m/m_1.png" alt=""></p>
                            <p class="text">EUX，e瞳网前端视觉体验中心</p>
                            <p class="text">以技术为导向，不断探寻新技术</p>
                        </div>
                        <div class="swiper-slide">
                            <p class="pic"><img width="203" src="dist/img/index_m/m_2.png" alt=""></p>
                            <p class="text">HTML5,CSS3,Javascript, angular, react, node.js, gulp, mongodb</p>
                            <p class="text">紧跟时代潮流，做优秀的前端工程师</p>
                        </div>
                        <div class="swiper-slide">
                            <p class="pic"><img width="186" src="dist/img/index_m/m_3.png" alt=""></p>
                            <p class="text">这是一个看脸的时代</p>
                            <p class="text">追求个性，不断尝试各种设计风格</p>
                            <p class="text">做一个有思想的设计师，你准备好了吗</p>
                        </div>
                        <div class="swiper-slide">
                            <p class="pic"><img width="211" src="dist/img/index_m/m_4.png" alt=""></p>
                            <p class="text">加入EUX，BAT不再是梦想</p>
                            <p class="text">还等什么，快加入我们把~~~</p>
                        </div>
                    </div>
                    <div class="swiper-pagination"></div>
                    <div class="swiper-button-prev"></div>
                    <div class="swiper-button-next"></div>
                </div>
            </main>
        </section>
    </div>
</div>


<script src="/dist/js/index/star.min.js"></script>
<script src="/dist/js/index_m/main.min.js"></script>

<% include common/footer.html %>
