<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="favicon.ico">

    <title><%= title %></title>

    <link href="http://cdn.bootcss.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="dist/lib/css/swiper.min.css">
    <link href="dist/css/eux.all.min.css" rel="stylesheet">

    <script src="http://cdn.bootcss.com/zepto/1.0rc1/zepto.min.js"></script>
    <script src="dist/lib/js/swiper.jquery.min.js"></script>

</head>

<body>
<canvas id="m-star"></canvas>
<!-- 音乐自动播放 -->
<audio src="dist/source/index_m.mp3" autobuffer loop style="display: none;">
  您的浏览器不支持音频!
</audio>
<!--音乐控制按钮-->
<div id="musicControl"><img src="dist/img/index_m/music.png" id="musicimg"/></div>

<nav class="navbar navbar-fixed-top m-navbar">
    <div class="m-logo">
        <a href="#"><img width="184" src="dist/img/index_m/logo_m.png" alt="EUX前端视觉体验中心"></a>
    </div>
    <div class="m-menu-btn">
        <a href="#"><img width="22" src="dist/img/index_m/menu_btn_m.png" alt=""></a>
    </div>
    <ul class="m-nav">
        <div class="close-btn"></div>
        <li><a href="/">EUX首页</a></li>
        <li><a href="/blog">EUX博客</a></li>
        <li><a href="http://www.eeyes.net">e瞳网首页</a></li>
    </ul>
</nav>
<div class="page-slider">
    <div class="swiper-wrapper">
        <section class="swiper-slide m-page">
            <main class="m-main">
                <h1>
                    <img id="m-eux-bot" width="240" src="dist/img/index/b.png" alt="EUX">
                    <img id="m-eux-mid" width="240" src="dist/img/index/m.png" alt="EUX">
                    <img id="m-eux-top" width="240" src="dist/img/index/t.png" alt="EUX">
                </h1>
                <ul class="m-nav-main">
                    <li><a href="/blog" title="EUX博客">EUX博客</a></li>
                    <li><a href="/course" title="EUX云课堂">EUX云课堂</a></li>
                    <li><a href="http://www.eeyes.net" target="_blank" title="西安交大e瞳网">e瞳网首页</a></li>
                </ul>
            </main>
            <div class="m-arrow"></div>
        </section>
        <section class="swiper-slide m-page">
            <main class="m-main m-page-2">
                <div class="swiper-container">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <p class="pic"><img width="162" src="dist/img/index_m/m_1.png" alt=""></p>
                            <p class="text">EUX，e瞳网前端视觉体验中心</p>
                            <p class="text">以技术为导向，不断探寻新技术</p>
                        </div>
                        <div class="swiper-slide">
                            <p class="pic"><img width="203" src="dist/img/index_m/m_2.png" alt=""></p>
                            <p class="text">HTML5,CSS3,Javascript, angular, react, node.js, gulp, mongodb</p>
                            <p class="text">紧跟时代潮流，做优秀的前端工程师</p>
                        </div>
                        <div class="swiper-slide">
                            <p class="pic"><img width="186" src="dist/img/index_m/m_3.png" alt=""></p>
                            <p class="text">这是一个看脸的时代</p>
                            <p class="text">追求个性，不断尝试各种设计风格</p>
                            <p class="text">做一个有思想的设计师，你准备好了吗</p>
                        </div>
                        <div class="swiper-slide">
                            <p class="pic"><img width="211" src="dist/img/index_m/m_4.png" alt=""></p>
                            <p class="text">加入EUX，BAT不再是梦想</p>
                            <p class="text">还等什么，快加入我们把~~~</p>
                        </div>
                    </div>
                    <div class="swiper-pagination"></div>
                    <div class="swiper-button-prev"></div>
                    <div class="swiper-button-next"></div>
                </div>
            </main>
            <div class="m-arrow"></div>
        </section>
        <section class="swiper-slide m-page">
           <main class="join-us">
               <h1>加入我们</h1>
               <form>
                   <div class="form-group">
                       <input class="form-control" name="username" type="text" placeholder="您的姓名" required maxlength="20">
                   </div>
                   <div class="form-group">
                       <input class="form-control" name="grade" type="text" placeholder="专业班级" required maxlength="20">
                   </div>
                   <div class="form-group">
                       <input class="form-control" name="tel" type="text" placeholder="联系方式" required maxlength="11">
                   </div>
                   <div class="form-group">
                       <input class="form-control" name="primary" type="text" placeholder="技术基础" required maxlength="100">
                   </div>
                   <div class="form-group">
                       <textarea class="form-control" name="message" placeholder="您想对我们说..." required name="message" rows="3" maxlength="200"></textarea>
                   </div>
                   <div class="form-group">
                       <input type="submit" class="form-control btn btn-primary" value="提交">
                   </div>
               </form>
           </main>
        </section>
    </div>
</div>


<script src="/dist/js/index_m/star.min.js"></script>
<script src="/dist/js/index_m/main.min.js"></script>
<script>
</script>
</body>




