{{> header }}

<canvas id="star">
    请使用高版本浏览器浏览！！！
</canvas>
<canvas class="decoration decoration1" width="352" height="357"></canvas>
<canvas class="decoration decoration2" width="352" height="357"></canvas>

<main class="index-main">
    <h1>
        <img id="eux-bot" src="dist/img/index/b.png" alt="EUX">
        <img id="eux-mid" src="dist/img/index/m.png" alt="EUX">
        <img id="eux-top" src="dist/img/index/t.png" alt="EUX">
    </h1>
    <ul class="eux-nav-main">
        <li><a href="#" title="EUX博客">EUX博客</a></li>
        <li><a href="#" title="EUX云课堂">EUX云课堂</a></li>
        <li><a href="#" title="西安交大e瞳网">e瞳网首页</a></li>
    </ul>
    <div class="about">
        <a href="#" title="关于我们">了解更多</a>
    </div>

    <footer>
        <p><a href="#">联系我们</a> / <a href="#">加入我们</a></p>
        <p>eux.eeyes.xyz 2016</p>
    </footer>
</main>

<aside>
    <a id="sign" href="#"><img src="dist/img/index/sign.png" alt="HTML5&CSS3"></a>
</aside>

{{> footer }}
